<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,960}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,960}}</string>
			<key>sourceSize</key>
			<string>{640,960}</string>
		</dict>
		<key>croc_front_mouthclosed.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{194,105}}</string>
			<key>offset</key>
			<string>{-2,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,47},{194,105}}</string>
			<key>sourceSize</key>
			<string>{208,159}</string>
		</dict>
		<key>croc_front_mouthopen.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,2},{180,139}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,13},{180,139}}</string>
			<key>sourceSize</key>
			<string>{208,159}</string>
		</dict>
		<key>pineapple.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,109},{77,150}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,6},{77,150}}</string>
			<key>sourceSize</key>
			<string>{85,160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CutTheVerlet.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f53c3b4876eda07b9db040a06eeea684$</string>
		<key>textureFileName</key>
		<string>CutTheVerlet.pvr.ccz</string>
	</dict>
</dict>
</plist>
